
/* user site first view section */
.users-site-container{
    display: none;
    align-items: center;
    justify-content: center;
    
     flex-direction: column;
     position: fixed;
     right: 430px;
     top: 200px;
   
}
.user-site-search-container{
    width: 100px;
    height: 100px;
    stroke-width: 2;
    color: rgb(161, 155, 155,0.3);
    display: flex;
    align-items: center;
    justify-content: center;
}
.user-site-text{
    color: var(--text-main);
    font-size: 30px;
    font-weight: 700;
}
.user-site-2{
    color: rgb(161, 155, 155,0.5);
    font-size: 18px;
    font-weight: 500;

}

.user-site-3{
    font-size: 18px;
    font-weight:500 ;
    color: rgb(161, 155, 155,0.5);
}

/* user experience pick section */


.search-experience-pick-border{
padding-bottom: 18px;
padding-top: 10px;
    background-color: #000;
    right: 20px;

    display: flex;
    flex-direction: row;
    position: fixed;
    white-space: nowrap;
    z-index: 100;
    top: 90px;
}


.border-pick{
    background: #1a1a1a;
    border-radius: 1px solid var(--border);
    height: 83px;
    
   width: 120px;
   

transition: all 0.2s ease;

display: flex;

margin: -20px 0px 0px 0px;
position: fixed;
z-index: 555;
top: 105px;
background-color: #000;
}



.categories-home{
    stroke-width: 2;
    color: rgb(69, 69, 212) ;
    width: 90px;
    height: 40px;
    position: absolute;
    top: 30px;
    left: -2px;
    cursor: pointer;
  
}


.border-pick-2{
  
    
    height: 30px;
    width: 30px;
    border: none;
cursor: pointer;
transition: all 0.2s ease;
position: relative;
display: flex;
align-items: center;
justify-content: center;
margin: 10px -10px 5px 0px;
z-index: 1;
}
.categories-home-2{
    stroke-width: 1.5;
    color: rgb(189, 185, 185,0.6);
    width: 18px ;
    height: 18px;
}

.categories-home-2:hover{
 color: rgb(189, 185, 185);
}
.border-pick-3{
    background: #1a1a1a;
    border-radius: 1px solid var(--border);
    height: 35px;
    width: 80px;
    border-radius: 18px;
cursor: pointer;
transition: all 0.2s ease;
position: relative;
display: flex;
align-items: center;
justify-content: center;
margin: 10px 0px 5px 20px;


}

.categories-home-3{
    stroke-width: 2.5;
    color: var(--text-main);
    width: 70px;
    height: 25px;
    position: absolute;
    top: 5px;
    left: 3px;
}
.categories-under-text-2{
    color: var(--text-main);
   margin-left: 2px;
   font-size: 12px;
   font-weight: 100;
   margin-top: 60px;
   letter-spacing: 1px;
   
}
.border-pick-3:hover{
    background: #413e3e;
}


/* user experience section */

/* user experience section discover and community */
.experience{
    margin-top: 100px;
}
.user-experience-border{
    padding: 0px 20px 8px 20px;
   
    border: none;
    background-color: var(--side-bar);
    border: 1px solid var(--border);
    border-radius: 20px;
    cursor: pointer;
 color:  rgba(255, 249, 249, 0.9);

}


.user-experience-border:hover{
    background-color: rgb(128, 128, 128,0.3);
   
    color: var(--text-main);
}
.user-experience-text{

    font-weight: 700;
    font-size: 18px;
 text-align: center;
 margin-top: 5px;
}


/* user experience scroll */
.user-scroll-topbar{
    position:fixed;
padding: 10px 0px 10px 0px;
    left: 0;
    right: 0;
    color: var(--text-main);
    background-color: rgb(128, 128, 128,0.4);
    text-align: center;
   margin-top: 80px;
   font-size:25px ;
   font-weight: 700;
   letter-spacing: 3px;
z-index: 100;
display: none;
}


/* user experience section near you default*/
.border1-user-experience{
  margin-top: 20px;
}
.border1-user-experience-extra{
  
      display: grid;
    grid-template-columns: 1fr 1fr   ;
 
}
.border1-text{
    color: var(--text-main);
    font-size: 25px;
    font-weight: 700;
}
.border2-text{
    color: var(--text-main);
    font-size: 15px;
    font-weight: 700;
    letter-spacing: 1px;
}
.image-border{
    margin-top: 10px;
  
    border: 1px solid var(--border);
      position: relative;
      margin-bottom: 10px;
       height: 430px;
      width: 750px;
      margin-right: 30px;

}


.business-container{
    position: absolute;
    bottom: 60px;
    left: 20px;
}
.business-container-2{
   margin-top: 10px;
}
.business-text{
    color: var(--text-main);
    font-size: 50px;
    font-weight: 700;
      
}

.business-btn{
    padding: 10px 30px 10px 30px;
    border-radius: 20px;
    border: 1px solid var(--text-main);
    cursor: pointer;
 
}


.business-btn:hover {
   background-color: rgb(59, 59, 230);
   border: 1px solid rgb(59, 59, 230);
   color: var(--text-main);
}

.business-btn-2:hover {
  

    background-color: rgb(175, 175, 35);
   
}
.business-btn-2{
    padding: 10px 50px 10px 50px;
    border-radius: 20px;
    border: 1px solid rgb(175, 175, 35,0.6);
    background-color:rgb(175, 175, 35,0.6) ;
    cursor: pointer;
}
.business-text-2{
    color: var(--text-main);
    font-size: 15px;
    font-weight: 500;
    margin-top: 10px;
}
.image-border-2{
    margin-top: 10px;
    width: 450px;
    height: 400px;
  border: none;
      position: relative;
      margin-bottom: 10px;
      
position: relative;

}


.extra-main-search-bar{
    width: 400px;
    height: 50px;
    background-color:rgb(255, 255, 255,0.4);
    border-radius: 20px;
    border: 1px solid var(--border);
    outline: none;
    position: absolute;
    bottom: 10px;
    left: 10px;
    color: var(--text-main);
    font-weight: 700;
    font-size: 15px;
}

.extra-main-search-bar:hover{
    background-color: #413e3e;
}

.image-border-2-extra{
    position: absolute;
    bottom: 100px;
}

.image-border-2-text-seperate{
    stroke-width: 1;
     width: 10px;
     height: 10px;
    color: var(--text-main);
    margin-right: 5px;
}

.image-border-2-text{
    color: var(--text-main);
    font-size: 50px;
    font-weight: 700;
}
.image-border-2-text-2{
    color: var(--text-main);
    font: 30px;
    font-weight: 500;
}

.image-border-2-text-3{
    color: var(--text-main);
    font-size: 20px;
    font-weight: 500;
}
.search-extra{
    stroke-width: 2;
    color:rgb(255, 251, 251) ;
    width: 20px;
    height: 20px;
    position: absolute;
    bottom: 25px;
    right: 50px;
    cursor: pointer;
    
}

.search-extra:hover{
    color: #000;
}
.extra-main-search-bar::placeholder{
    font-size: 20px;
    color: var(--text-main);
  text-align: center;
  font-weight: 500;
}
.image-border:nth-child(2) .popular-image{
    height: 380px;
    opacity: 0.2;
    
}

.image-border:hover {
    cursor: pointer;
    background-color: rgb(17, 14, 14);
    transition: all 0.2s ease;
    transform: scale(1.02);
}


.image-border:hover .popular-image{
    opacity: 0.3;
    
}
.image-border .popular-image{
    width: 100%;
    height: 360px;
   object-fit: cover;
   opacity: 0.6;

}
  


.small-text-border{
   flex: 1;
    height: 50px;
    background-color: rgb(145, 142, 142,0.3);
    position: relative;

}

.small-text{
    color: var(--text-main);
    font-size: 40px;
    letter-spacing: 3px;
    font-weight: 700;
    text-align: center;
}

.small-text-cancel{
    position: absolute;
    color: var(--text-main);
    height: 20px;
    width: 20px;
    stroke-width: 3;
    fill: var(--text-main);
    right: 5px;
    top: 15px;
    display: none;
}

.view-drection-btn-2{
    
   color: var(--text-main);
   border: none;
   padding: 10px 65px 10px 65px;
   background-color: var(--side-bar);
   border: 1px solid var(--border);
   border-radius: 50px;
   cursor: pointer;
   position: absolute;
   top: 150px;
   right: 10px;
   opacity: 0;
   pointer-events: none;
   font-weight: 700;
   font-size: 12px;
}



.try-it{
    color: #a8d5ff;
    text-shadow: 0 1px 6px rgba(0, 0, 0, 0.5);
    font-size:14px ;
    
    font-weight: 700;
 
}
a{
    text-decoration: none;
    color: white;
}
a:hover{
    text-decoration: underline;
}
.search-more-btn{
   
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    margin-left: 30px;
    cursor: pointer;
    font-weight: 500;
    font-size: 15px;

}

/* user experience section Trending  default*/
.TrendingNow-text{
    color: var(--text-main);
    font-weight: 500;
    font-size: 30px;
}
.TrendingNow-container{
    margin-top: 40px;
}

.trending-choose-container{
    margin-top: 15px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr ;
    
}
.trending-choose-border{
   width: 180px;
   height: 30px;
    background-color: var(--side-bar);
    border: 1px solid var(--border);
  color: var(--text-main);
  text-align: center;
  border-radius: 20px;
   cursor: pointer;
}
.trending-choose-border:hover{
    background-color: rgb(165, 162, 162,0.4);
   
    
}
.trending-choose-border-text{
    margin-top: 5px;
}

.trending-view-container{
    margin-top: 40px;
    display: grid;
    grid-template-columns: 1fr 1fr ;
    gap: 5px;
    margin-left: 5px;

}

.trending-view-border{
    width: 600px;
    height: 280px ;
border: 1px solid var(--border);

position: relative;
margin-bottom: 100px;
border-radius: 10px;

}
.trending-view-border .trending-image{
    width: 100%;
    height: 280px;
    object-fit: cover;
    cursor: url('https://img.icons8.com/ios-filled/30/ffffff/search.png'),auto;
   border-radius: 10px;
}

.trending-more-image-border{
    height: 290px;
    width: 300px;
    border: 5px solid var(--border);
    position: absolute;
     left: -15px;
    z-index: -3;
    top: -20px;
}

.trending-more-image-border .trending-more-image{
    width:100%;
    height: 300px;
    object-fit: cover;
   
}

.trending-view-border:hover .trending-image{
    opacity: 0.5;
}
.trending-info{
    position: absolute;
    z-index: 5;
    top: 3px;
    left: 40px;
    opacity: 0;
    pointer-events: none;
    transform: translateY(2);
    transition: all 0.15s ease;
      cursor: pointer;
}

.trending-view-border:hover  .trending-info{
    opacity: 1;
    transform: translateY(0);
  
}
.trending-info-personal{
    margin-top: 155px;
    margin-left: -35px;
}
.trending-info-name{
    color: var(--text-main);
    text-align: center;
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
    margin-left: 150px;
}

.trending-info-name-2{
    color: var(--text-main);
    text-align: center;
    font-size: 20px;
    text-transform: uppercase;
        margin-left: 150px;
        font-weight: 500;
}



.location-trending{
color: var(--text-main);
font-weight: 300;
font-size: 18px;
}
.trending-location-icon{
stroke-width: 1.2;
color: var(--text-main);
width: 20px;
height: 15px;
}



.trending-more{
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}
.more-btn{
    padding: 18px ;
    background-color: var(--side-bar);
    border-radius: 50%;
    border:1px solid  var(--border) ;
    margin-right: 20px;
    cursor: pointer;
position: relative;
}
.more-btn:hover{
    background-color: rgb(61, 61, 209,0.5);
    border: 1px solid rgb(61, 61, 209,0.5);

}
.more-btn-icon{
    position: absolute;
    color: var(--text-main);
    stroke-width: 4;
    height: 15px;
    width: 25px;
    top: 10px;
    right: 5px;
}

.searches-trending{
    color: var(--text-main);
    font-size: 15px;
    font-weight: 500;
}
.distance-trending-text{
    color: var(--text-main);
    font-size:13px ;
    font-weight: 200;
}
.trending-search{
    color: var(--text-main);
    stroke-width: 2;
    width: 30px;
    height: 30px;
 position: absolute;
 right: 20px;
 bottom: 15px;
  display: none;
}
.trending-search:hover{
    color:rgb(61, 61, 209,0.5) ;
}
.save{
       color: var(--text-main);
       fill: var(--text-main);
    stroke-width: 2;
    width: 30px;
    height: 30px;
 position: absolute;
 right: 20px;
 top: 15px; 
 display: none;
}
.save:hover{
    color:rgb(61, 61, 209) ;
    fill:rgb(61, 61, 209) ;
}


.trending-info-personal-2{
    position: absolute;
    bottom: -65px;
    white-space: nowrap;
}
.trending-info-personal-2-star{
    color: var(--text-main);
    stroke-width: 1.2;
    fill: yellow;
    color: yellow;
    height: 100px;
    width: 10px;
   
}

.trending-info-personal-2-star-text{
    color: var(--text-main);
     white-space: nowrap;
      display: flex;
    align-items: center;
     font-size: 15px;
    font-weight: 500;
    margin-bottom: -58px;
    font-weight: 500;
}
.trending-info-personal-2-viewPhoto-btn{
color:#000;
border: 1px solid var(--border);
width: 260px;
height: 35px;
background-color: var(--text-main);
border-radius: 5px;
cursor: pointer;
}
.trending-info-personal-2-direction-btn{
color:var(--text-main);
border: 1px solid  rgba(39, 155, 201, 0.5);
width: 320px;
height: 40px;
background-color:rgba(39, 155, 201, 0.5) ;
border-radius: 20px;
cursor: pointer;
position: relative;
}
.trending-info-personal-2-direction-btn-icon{
    position: absolute;
    color: #fff;
    fill: #fff;
    right: 100px;
    top: 11px;
    height: 15px;
    width: 15px;
}
.trending-info-personal-2-reviews{
    color: var(--text-main);
    font-size: 15px;
    font-weight: 500;
    margin-left: 53px;
}
.trending-info-personal-2-star-text-dot{
    color: #fff;
    fill: #fff;
    stroke-width: 1.2;
    height: 20px;
    width: 10px;
    cursor: text;
}
.people-nearby-text-1{
    color: var(--text-main);
    font-size: 15px;
    font-weight: 500;
    margin-left: 25px;
    margin-top: 8px;
    text-transform: uppercase;
}

.people-nearby-text-2{
    color: var(--text-main);
    font-size: 15px;
    font-weight: 500;
    white-space: nowrap;
}
.people-nearby-icon{
    color: grey;
    stroke-width: 3;
    width: 60px;
    height: 60px;
    position: absolute;
    right: 17px;
    top: 12px;
}
.people-nearby-border{
    position: relative;
    background-color: var(--text-main);
    width: 90px;
    height: 90px;
    border-radius: 50%;
    margin-top: 15px;
    margin-left: 10px;
    cursor: pointer;
}
.people-nearby-main-text{
    color: var(--text-main);
    font-size: 20px;
    font-weight: 700;
    
}
.people-nearby-main-text-2{
    color: rgb(61, 61, 209,0.4);

}
.people-nearby-icon-2{
color: rgb(9, 228, 9);
fill: rgb(9, 228, 9);
width: 15px;
height: 15px;
position: absolute;
right: 5px;
bottom: 10px;
}


.people-nearby-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 0;
}
.city-chat-container{
 
    margin-top: 30px;
}
.city-chat-container-extra{
display: flex;
flex-direction: row;
justify-content: space-between;
margin-bottom: 20px;
}
.city-chat-text-icon-2{
    stroke-width: 2;
    height: 20px;
    width: 20px;
    color: var(--text-main);

}
.city-chat-text{
    color: var(--text-main);
    font-size: 27px;
    font-weight: 700;
        text-transform: uppercase;
}

.arrow-btn{
    background-color: var(--side-bar);
    border: 1px solid var(--border);
    margin-right: 30px;
    padding: 8px 10px 8px 10px;
    border-radius: 50%;
    cursor: pointer;
}
.arrow-btn:hover{
    background-color: rgb(13, 148, 141);
    color: var(--text-main);
}
.city-chat-text-icon{
color: var(--text-main);
stroke-width: 2;
height: 20px;
width: 20px;
}
.city-chat-border{

    background-color: #413e3e;
    width: 1250px;
    height: 150px;
    border-radius: 10px;
    position: relative;
}
.city-chat-container-2{

    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.city-chat-text-2{
color: var(--text-main);
font-size: 20px ;
font-weight: 700;
margin-left: 10px;
margin-top: 5px;

}
.city-chat-text-extra{
color: var(--text-main);
padding: 3px 5px  ;
border-radius: 20px;
background-color: rgb(11, 236, 11);
margin-right: 10px;
margin-top: 10px;
font-size: 12px;
font-weight: 300;
color: var(--text-main);
}

.city-chat-text-3{
color: var(--text-main);
font-size: 12px;
font-weight: 400;
margin-left: 15px;
}
.city-btn{
    position: absolute;
    bottom: 5px;
  width: 1000px;
  height: 35px;
    border-radius: 20px;
    border: none;
    right: 110px;
    color: #000;
    font-size: 15px;
    font-weight: 500;
    cursor: pointer;
}
.city-btn:hover{
    background-color: rgb(18, 112, 189);
    color: var(--text-main);
        
    }
.city-btn-icon{
    color: var(--side-bar);
    stroke-width: 2;
    height: 12px;
    width: 12px;
    margin-top: 2px;
}
.city-live{
color: var(--text-main);
position: absolute;
text-transform: uppercase;
bottom: 10px;
background-color: rgb(235, 43, 43);
padding: 3px 10px 3px 10px;
border-radius: 20px;
font-size: 10px;
font-weight: 100;
color: var(--text-main);
right: 10px;
}


.recently-added-main-container{
margin-top: 30px;
position: relative;
}
.recently-added-main-container-text{
color: var(--text-main);
font-size: 28px;
font-weight: 700;
margin-bottom: 20px;
}
.recently-added-icon{
position: absolute;
padding: 5px 10px 5px 10px;
background-color: var(--text-main);
border:none;
border-radius: 23px;
cursor: pointer;
top: 150px;
left: -5px;
}

.recently-added-icon:hover{
    color: var(--text-main);
    background-color: #413e3e;
    
}
.recently-added-icon-2{
position: absolute;
padding: 5px 10px 5px 10px;
background-color: var(--text-main);
border:none;
border-radius: 23px;
cursor: pointer;
top: 150px;
right: -5px;
}

.recently-added-icon-2:hover{
    color: var(--text-main);
    background-color: #413e3e;
    
}
.recently-added-icon-btn{
    color: var(--side-bar);
    height: 20px;
    width: 20px;
    stroke-width: 2;
}
.recently-added-container{
display: grid;
grid-template-columns: 1fr 1fr 1fr;
}
.recently-added-border{
    background-color: #fff;
    width: 350px;
    height: 240px;
    border-radius: 10px;
    cursor: pointer;
    
}
.recently-added-text{
color: var(--text-main);
padding: 3px 30px 3px 30px;
background-color: rgb(211, 37, 37);
font-size: 15px;
font-weight: 500;
border-radius: 5px;
margin-left: 2px;
margin-top: 3px;
border: none;
}
.recently-added-image{
width: 100%;
height: 160px;
margin-top: 5px;
}
.recently-added-text-3{
color: #000;
font-size: 15px;
font-weight: 700;
margin-left: 20px;
text-transform: uppercase;
}
.recently-added-text-4{
color: rgb(156, 156, 156);
font-size: 15px;
font-weight: 500;
margin-left: 10px;
}

/* trending near you */

.for-you-main-container{
margin-top: 30px;
position: relative;
}
.for-you-main-container-text{
color: var(--text-main);
font-size: 28px;
font-weight: 700;
margin-bottom: 20px;
}
.for-you-icon{
position: absolute;
padding: 5px 10px 5px 10px;
background-color: var(--text-main);
border:none;
border-radius: 23px;
cursor: pointer;
top: 150px;
left: -5px;
z-index: 10;
}

.for-you-icon:hover{
    color: var(--text-main);
    background-color: #413e3e;
    
}
.for-you-icon-2{
position: absolute;
padding: 5px 10px 5px 10px;
background-color: var(--text-main);
border:none;
border-radius: 23px;
cursor: pointer;
top: 150px;
right: -5px;
z-index: 10;
}

.for-you-icon-2:hover{
    color: var(--text-main);
    background-color: #413e3e;
    
}
.for-you-icon-btn{
    color: var(--side-bar);
    height: 20px;
    width: 20px;
    stroke-width: 2;
}
.for-you-container{
display: grid;
grid-template-columns: 1fr 1fr 1fr 1fr 1fr ;
gap: 15px;
}
.for-you-border{
    background-color: #fff;
    width: 250px;
    height: 240px;
    border-radius: 10px;
    cursor: pointer;
    position: relative;
    
}
.for-you-text{
color: var(--text-main);
padding: 2px 10px 2px 10px;
background-color: rgb(211, 37, 37);
font-size: 12px;
font-weight: 500;
border-radius: 5px;
border: none;
position: absolute;
bottom: 55px;
right: 5px;
}
.for-you-text-verified{
color: var(--text-main);
padding: 2px 15px 2px 15px;
background-color: rgb(206, 219, 18);
font-size: 13px;
font-weight: 700;
border-radius: 5px;
top: 20px;
left: -8px;
border: none;
position: absolute;
transform: rotate(-35deg);
}
.for-you-image{
width: 100%;
height: 160px;

}
.for-you-text-3{
color: #000;
font-size: 15px;
font-weight: 700;
margin-left: 20px;
text-transform: uppercase;
}
.for-you-text-4{
color: #000;;
font-size: 14px;
font-weight: 500;
margin-left: 10px;
margin-top: 2px;
}

.for-you-text-5{
color: #000;
font-size: 10px;
font-weight: 500;
margin-left: 13px;
margin-top: 10px;

}
.for-you-star{
    color: rgb(245, 245, 19);
    fill: rgb(245, 245, 19);
    height: 8px;
    width: 8px;
}
.display{
    display: none !important;
}


.search-experince-container-text{
    color: var(--text-main);
    font-size: 25px;
    font-weight: 700;
    margin-top: -35px;
    margin-left: 40px;
}
.search-experince-container-icon{
    color: var(--border);
    stroke-width: 3;
    width: 30px;
    height: 30px;
margin-top: 5px;
cursor: pointer;
   
}
.search-experince-container-extra{
    position: fixed;
    z-index: 20;
    top: 90px;
    left: 70px;
    width:795px ;

    height: 50px;
    background-color: var(--bg-header);
}
.search-result-about{
    
  margin-top: 70px;
  margin-left: -5px;
}

.search-result-about-2{
  
    width: 770px;
    height: 300px;
   border-radius: 10px;
   cursor: pointer;
}
.search-result-image{
    width: 100%;
    height: 300px;
    border-radius: 10px;
    opacity: 0.8;
}

.search-result-about-3{
margin-top: 20px;

}

.search-result-container{
    position: fixed;
    overflow-y: auto;
    top: 80px;
    padding-bottom: 80px;
    bottom: 0;


}
.search-result-about-3-text{
    color: var(--text-main);
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    margin-left: 10px;
}
.search-result-about-4{
margin-top: 20px;

display: grid;
grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
gap: 20px;
border-top:1px solid var(--border) ;
border-bottom:1px solid var(--border) ;
padding: 10px 30px 10px 30px;
}
.search-result-about-4-text{
    color: var(--text-main);
    font-size: 18px;
    font-weight: 700px;
}
.search-result-about-4-icon{
color: rgb(51, 51, 253);
stroke-width: 2;
width: 20px;
height: 20px;

}
.search-result-photo-container{
    display: grid;
   grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
   gap: 10px;
margin-left: 10px;
}
.search-result-photo{
    margin-top: 10px;
  
}

.search-result-photo-text{
    color: var(--text-main);
    font-size: 18px;
    font-weight: 500;
    margin-left: 10px;
}

.search-result-photo-border{
   border-radius: 10px;
    width: 280px;
    height: 210px;
    
     position: relative;

}
.search-result-photo{
width: 100%;
height: 210px;
border-radius: 10px;
}
.search-result-photo-border-2-container{
    display: grid;
    grid-template-rows: 1fr 1fr;
  
    gap: 10px;
    margin-top: 10px;
}
.search-result-border-2{
    width: 100px;
    height: 100px;
   border-radius: 10px;

    
}

.search-result-photo-2{
    width: 100%;
    height: 100px;
    border-radius: 10px;
}
.search-result-btn{
    padding: 8px 10px 8px 10px;
    position: absolute;
    z-index: 10;
    bottom: -250px;
    border-radius: 50%;
    background-color: #aaa1a1;
    border: 1px solid #aaa1a1;
    cursor: pointer;
   
  
}
.search-result-btn:hover{
    background-color: #413e3e;
    color: var(--text-main);
}
.search-result-photo-icon{
    color: var(--text-main);
    stroke-width:3 ;
    width: 20px;
    height: 20px;
}
.search-result-btn-2{
    padding: 8px 10px 8px 10px;
    position: absolute;
    z-index: 10;
    bottom: -250px;
    border-radius: 50%;
    background-color: #aaa1a1;
    border: 1px solid #aaa1a1;
    cursor: pointer;
  right: 500px;
}
.search-result-btn-2:hover{
    background-color: #413e3e;
    color: var(--text-main);
}
.review-container{
    padding: 10px 30px 30px 30;
  border-top:1px solid var(--border) ;
border-bottom:1px solid var(--border) ;
  margin-top: 85px;
}



  .review-summary { 
  
    padding: 20px; 
    border-radius: 16px; 
    box-shadow: 0 2px 8px rgba(0,0,0,0.08);
    max-width: 400px;
        position: relative;
  }
  

  .review-header { 
    display: flex; 
    align-items: center; 
    gap: 16px; 
    margin-bottom: 16px; 
    padding-bottom: 16px;
    border-bottom: 1px solid #eee;

  }
  .avg-score { 
    font-size: 20px; 
    font-weight: 800; 
    line-height: 1;
    color: var(--text-main);
  }
  .stars { 
position: absolute;
bottom: 80px;
right: -100px;
  }
  .star-text{
    color: var(--text-main);
    font-weight: 700;
    font-size: 30px;
  }
  .star-icon{
    color: #FFB400;
    fill: #FFB400;
    width: 12px;
    height: 12px;
    stroke-width: 1;
  }

   .stars-more{
    color: #FFB400;
    width: 12px;
    height: 12px;
    stroke-width: 1;
  }

  .total-reviews { 
    font-size: 13px; 
    color: #666; 
  }


  .rating-bar { 
    display: flex; 
    align-items: center; 
    gap: 10px; 
    margin: 8px 0; 
    font-size: 13px;
    color: #444;
  }
  .rating-label { 
    width: 40px; 
    display: flex;
    align-items: center;
    gap: 2px;
  }
  .bar-bg { 
    flex: 1; 
    height: 8px; 
    background: #f0f0f0; 
    border-radius: 10px; 
    overflow: hidden; 
  }
  .bar-fill { 
    height: 100%; 
    background: #FFB400; 
    border-radius: 10px; 
    width: 0%; 
  }
  .rating-count { 
    width: 30px; 
    text-align: right; 
    color: #666; 
  }

.write-review-btn{
    padding: 10px 20px 10px 20px;
    background-color: var(--side-bar);
    border-radius: 30px;
    border: 1px solid var(--border);
    color: var(--text-main);
    font-size: 15px;
    font-weight: 500;
    white-space: nowrap;
    cursor: pointer;
    margin-left: 180px;
    margin-top: 10px;
   transition: all 0.2s ease;
}
.write-review-btn:hover{
background-color: #413e3e;
color: var(--text-main);
transform: scale(0.9);
}

.write-review-btn:hover .write-review-icon{
    fill: #000;
}
.write-review-icon{
    color: var(--text-main);
    fill: var(--text-main);
    stroke-width: 2;
    width: 20px;
    height: 20px;
}
.all-reviews-container{
margin-top: 10px;
}
.all-reviews-text{
    color: var(--text-main);
    font-weight: 500;
    font-size: 15px;
}
.all-reviews-border{
margin-top: 10px;
display: flex;
flex-direction: row;
gap: 10px;
}
.profile-border{
    background-color: var(--text-main);
    height: 45px;
    width: 45px;
    border-radius: 50%;
    position: relative;
}
.profile-border-icon{
    color: #413e3e;
    width: 30px;
    height: 30px;
    stroke-width: 2;
    position: absolute;
left: 6px;
    top: 5px;
}
.profile-dots{
    color: var(--text-main);
    width: 15px;
    height: 15px;
    stroke-width: 2;
    margin-left: 520px;
    cursor: pointer;
}
.profile-text-1{
color: var(--text-main);
font-weight: 700;
font-size: 20px;
}
.profile-text-2{
    color: #666;
    font-size: 15px;
    font-weight: 500;
}
.all-reviews-comment{
    margin-top: 10px;
}
.all-reviews-text-2{
    color: var(--text-main);
    font-size: 12px;
    font-weight: 500;
    margin-left: 30px;
}
.all-reviews-star{
    fill: #FFB400;
    height: 10px;
    width: 10px;
color: #FFB400;
}
.all-reviews-star-2{
    color: #FFB400;
    height: 10px;
    width: 10px;

}
.comments{
    color: var(--text-main);
    font-size: 15px;
    font-weight: 500;
    margin-left: 10px;
    margin-top: 10px;
}
.more-comment{
    color: rgb(84, 84, 231);
    font-size: 17px;
    font-weight: 200;
    cursor: pointer;
}
.special-btn-container{
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    gap: 10px;
}
.direction-btn-special{
padding: 6px 20px 6px 20px;
color: var(--text-main);
font-size: 16px;
font-weight: 500;
background-color: rgb(55, 55, 233);
border: none;
border-radius: 30px;
cursor: pointer;
margin-left: 10px;
}
.direction-btn-special-3{
padding: 6px 20px 6px 20px;
color: var(--text-main);
font-size: 16px;
font-weight: 500;
background-color: rgb(55, 55, 233,0.5);
border: none;
border-radius: 30px;
cursor: pointer;
}

.direction-btn-special-2{
padding: 6px 18px 6px 18px;
color: var(--text-main);
font-size: 14px;
font-weight: 500;
background-color: var(--side-bar);
border: 1px solid var(--border);

border-radius: 30px;
cursor: pointer;
}
.direction-btn-icon{
width: 15px;
height: 15px;
color: var(--text-main);
}
.report{
    padding: 10px 20px 10px 20px;
  background-color: rgb(206, 72, 72);
    color: var(--text-main);
    font-size: 20px;
    font-weight: 500;
    margin-top: 40px;
    margin-left: 250px;
    text-align: center;
    border: none;
    cursor: pointer;
}
.report-icon{
    color: rgb(245, 0, 0);
    width: 20px;
    height: 20px;
}

.container-2{
    background-color: #000;
    right: 0px;
    width: 500px;
    bottom: 0;
    top: 20px;
    position: fixed;
    border-left:3px solid #413e3e ;
    overflow-y: auto;
 padding-bottom: 100px;
 display: grid;
 grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
row-gap: 40px;

}
.people-search-border{
    position: fixed;
    height: 50px;
   top: 88px;
    right: 0px;
   left:870px;
    background-color:var(--bg-header);
   
  
}
.people-search-text{
    color: var(--text-main);
    font-size: 25px;
    font-weight: 500;
    margin-top: 20px;
    margin-left: 10px;
}

.others-container{

  margin-left: 10px;
   gap: 30px;
    margin-top: 135px;
}
.others-border{
width: 450px;
height: 220px;
background-color: var(--text-main);
margin-bottom: 30px;
cursor: pointer;
border-radius: 10px;
}
.others-image{
    width: 100%;
    height: 150px;
    border-radius: 10px;
}

.others-text-1{
color: #000;
font-size: 20px;
font-weight: 700;
margin-left: 10px;
}

.others-text-2{
color: #000;
font-size: 15px;
font-weight: 600;
margin-left: 15px;
}
.others-icon{
fill: #FFB400;
color: #FFB400;
width: 10px;
height: 10px;
}

.others-text-3{
color: #000;
font-size: 12px;
font-weight: 500;
margin-left: 5px;
}



/* mobile */


.container-2-mobile{ 
  margin-top: 15px;
display: none !important;


}

.people-search-text-mobile{
    color: var(--text-main);
    font-size: 20px;
    font-weight: 500;
    margin-top: 20px;
    margin-left: 10px;
    white-space: nowrap;
}

.others-container-mobile{
   gap: 10px;
    margin-top: 13px;
     display: grid;
 grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;

}
.others-border-mobile{
width: 200px;
height: 240px;
background-color: var(--text-main);

cursor: pointer;
border-radius: 10px;
}
.others-image-mobile{
    width: 100%;
    height: 150px;
    border-radius: 10px;
}

.others-text-1-mobile{
color: #000;
font-size: 18px;
font-weight: 700;
margin-left: 10px;
}

.others-text-2-mobile{
color: #000;
font-size: 13px;
font-weight: 600;
margin-left: 15px;
}
.others-icon-mobile{
fill: #FFB400;
color: #FFB400;
width: 10px;
height: 10px;
}

.others-text-3-mobile{
color: #000;
font-size: 12px;
font-weight: 500;
margin-left: 5px;
}
